.detail {
  height: 100%;
  .detail-title {
    text-align: center;
    padding: 20px;
  }
  .content-blk {
    padding: 0 20px;
    .opt {
      margin: 0 10px;
    }
    .content-text {
      font-size: 30px;
    }
  }
  .detail-input {
    padding: 20px;
  }
  .text-done {
    color: #E45649;
    text-decoration: line-through;
  }
  .list {
    overflow-y: auto;
  }
}